@black: #131313;
@light-black: #1a1a1a;
@dark-black: #080808;
@white-color: #ffffff;
@orange-color: #ff934b;
@light-orange: #eec6ab;
@pink-color: #e26f8f;
@purple-color: #9b618a;
@gradient: linear-gradient(45deg, #ff934b, #e26f8f, #9b618a, #2e2e2e) 1;
@gradient-front: linear-gradient(-60deg, #ff934b, #e26f8f, #9b618a, #2e2e2e);
@gradient-img: linear-gradient( 45deg,#ff934b94,#e26f904f,#9370d350,#2e2e2eb9);

@raleway: 'Raleway', sans-serif;
@transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
@width768: 768px;

.reset {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1750px;
  font-size: 62.5%;
  @media(max-width: 767px) {
    max-width: 350px;
  }
}